body {
    background-color: rgb(0, 112, 240);
    color           : white;
    font-family     : 'Arial', sans-serif;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : 100vh;
    margin          : 0;
    overflow        : hidden;
}

h1 {
    font-size    : 5rem;
    color        : #ff0000;
    margin-bottom: 20px;
}

h2 {
    height     : 40px;
    font-size  : 1.5rem;
    text-shadow: 0 0 5px #fff;
}

.board {
    display              : grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows   : repeat(3, 150px);
    gap                  : 15px;
    padding              : 20px;
    border-radius        : 20px;
    background           : rgba(255, 255, 255, 0.03);
    box-shadow           : 0 0 20px rgba(16, 121, 190, 0.5);
}

.cell {
    width          : 150px;
    height         : 150px;
    background     : #e7e4e4;
    border         : 4px solid #e40808;
    border-radius  : 15px;
    cursor         : pointer;
    font-size      : 3rem;
    font-weight    : bold;
    transition     : all 0.3s ease;
    display        : flex;
    align-items    : center;
    justify-content: center;
    outline        : none;
    box-shadow     : inset 0 0 10px rgba(0, 242, 255, 0.1);
}

.cell:hover {
    background: #ffffff;
    transform : scale(1.05);
    box-shadow: 0 0 20px rgba(0, 242, 255, 0.4);
}

.cell.x {
    color      : #d7ee09;
    text-shadow: 0 0 10px #d7ee09, 0 0 20px #d7ee09;
}

.cell.o {
    color      : #02b8f0;
    text-shadow: 0 0 10px #02b8f0, 0 0 20px #02b8f0;
}

.cell:active {
    transform: scale(0.9);
}

.letter {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}


